[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/libsdl-org/freetype.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/JinukJeong92/bullet3_src.git
